* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: SegoeUI,Helvetica,Arial,sans-serif;
  color: black;
}

header {
  background-image: url('./media/header.jpg');

  height: 87vh;
}


nav {
  background-color: white;
  /* height: 11vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 65px;
  border-bottom: solid 1px;
}

nav .left-nav{
  display: flex;
  align-items: center;
}
nav .left-nav img{
  width: 120px;
  height: 22px;
  padding-right: 20px;
  border-right: solid;
}
nav .left-nav .nav-items{
  display: flex;
  align-items: center;
}
nav .left-nav .nav-items .nav-link{
  list-style: none;
  display: inline;
  margin-left: 15px;
  padding-bottom: 1px;
}
nav .left-nav .nav-items .nav-link:first-child{
  margin-left: 20px;
}
nav .left-nav .nav-items .nav-link:hover {
  border-bottom: solid;
}
nav .left-nav .nav-items .nav-link .office {
  font-weight: bold;
}
nav .left-nav .nav-items .nav-link .nested-link::after {
  content: ' \f078';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: black;
}
nav .left-nav .nav-items .nav-link .link {
  font-size: .7rem;
}
nav .left-nav .buy-office {
  padding: 5px;
  margin-left: 15px;
  font-size: .7rem;
  font-weight: bold;
  border: solid 1px;
  border-radius: 2px;
}

nav .right-nav {
  display: flex;
  align-items: center;
}
nav .right-nav a {
  font-size: .7rem;
}
nav .right-nav a::after {
  content: ' \f078';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: black;
}
nav .right-nav i {
  border: solid 1px;
  border-radius: 50%;
  padding: 5px;
  font-size: .8rem;
  margin-left: 15px;
}

.under-nav {
  text-align: center;
  background-color: blue;
  padding: 5px;
}
.under-nav a {
  color: white;
}
  
  